.home {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1500px;
}

.home__row {
  width: 100%;
  display: flex;
  z-index: 1;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -22%;
}

@media (max-width: 1020px) {
  .home__row {
    flex-direction: column;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: 0px;
  }
}
