.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
}

.order__id {
  position: absolute;
  top: 40px;
  right: 20px;
}

.order__total {
  font-weight: 500;
  text-align: right;
}

@media (max-width: 767px) {
  .order {
    padding: 20px;
  }
  .order__id {
    position: relative;
    top: 1px;
    right: 0px;
    font-size: 12px;
  }

  .order p {
    font-size: 14px;
  }
}
